@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  --topbar-height: 60px; /* Adjust based on actual Topbar height */
}

html, body {
  /* Set a hard limit to the viewport dimensions */
  height: 100vh;
  width: 100vw;
  
  /* Remove default margins and padding */
  margin: 0;
  padding: 0;
  
  /* Prevent the entire page from scrolling */
  overflow: hidden;
  
  /* Modern fix for mobile browser address bars */
  height: 100dvh; 
    @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

a:active,
a:focus,
input,
input:active,
input:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}  

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.lock-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other elements */
}

.lock-screen > input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:#ccc
}

@media (prefers-color-scheme: dark) {
  input {
    border: 5px solid #aaa;
    color:#222
  }
}

